@font-face {
  font-weight: 400;
  font-family: "FiraSans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/FiraSans-Regular.woff2") format("woff2"), url("../fonts/FiraSans-Regular.woff") format("woff"); }

@font-face {
  font-weight: 500;
  font-family: "FiraSans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/FiraSans-Medium.woff2") format("woff2"), url("../fonts/FiraSans-Medium.woff") format("woff"); }

@font-face {
  font-weight: 600;
  font-family: "FiraSans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/FiraSans-SemiBold.woff2") format("woff2"), url("../fonts/FiraSans-SemiBold.woff") format("woff"); }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  width: 100%;
  height: auto; }

body {
  margin: 0 auto;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-family: "FiraSans", "Arial", sans-serif;
  color: #222222;
  background-color: #f4f4f4; }

.button {
  display: inline-block;
  padding: 17px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: #4737ff; }
  .button:hover, .button:focus {
    background-color: #f96241; }

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.social__item:not(:last-child) {
  margin-right: 28px; }

.social__link:hover .social__svg,
.social__link:focus .social__svg {
  fill: #4737ff; }

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.pagination__item:not(:last-child) {
  margin-right: 24px; }

.pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  font-weight: 500;
  font-size: 17.55px;
  line-height: 25.5px;
  color: #222222; }
  .pagination__link:hover, .pagination__link:focus {
    color: #ffffff;
    background-color: #f96241; }
  .pagination__link--active {
    color: #ffffff;
    background-color: #f96241; }

.page-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 1360px;
  margin: 0 auto;
  padding: 58px 125px 37px; }
  .page-header::before, .page-header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 70px;
    background-color: rgba(21, 21, 21, 0.05); }
  .page-header::before {
    left: 35.5%; }
  .page-header::after {
    right: 52%; }

.page-header__logo {
  display: block;
  width: 75px;
  height: 24px; }

.page-header__logo-image {
  display: block; }

@media (max-width: 1360px) {
  .page-header {
    width: auto;
    padding-right: 60px;
    padding-bottom: 0;
    padding-left: 60px; }
    .page-header::before {
      left: 28%; } }

@media (max-width: 768px) and (min-width: 320px) {
  .page-header {
    display: block;
    padding-right: 20px;
    padding-left: 20px; }
    .page-header::after {
      content: none; } }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 475px; }

.main-nav__button {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 34px;
  height: 14px;
  margin-top: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer; }
  .main-nav__button::before, .main-nav__button::after {
    content: "";
    position: absolute;
    right: 0;
    display: block;
    height: 3px;
    background-color: #000000; }
  .main-nav__button::before {
    top: 0;
    left: 0; }
  .main-nav__button::after {
    bottom: 0;
    left: 50%; }
  .main-nav__button:hover::before, .main-nav__button:hover::after, .main-nav__button:focus::before, .main-nav__button:focus::after {
    background-color: #4737ff; }

@media (max-width: 768px) and (min-width: 320px) {
  .main-nav__button {
    position: absolute;
    top: 58px;
    right: 20px; } }

.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.site-list__item:not(:last-child) {
  margin-right: 80px; }

.site-list__link {
  display: block;
  color: rgba(34, 34, 34, 0.3); }
  .site-list__link--active {
    color: #222222; }
  .site-list__link:hover, .site-list__link:focus {
    color: #000000; }

.first-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 57px; }

.first-page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 75px;
  margin-bottom: 60px; }

.first-page__subtitle {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 4px; }

.first-page__title {
  margin: 0 0 30px;
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1px; }

.first-page__text {
  width: 444px;
  margin: 0 0 69px; }

.first-page__btns-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.first-page__link {
  margin-right: 35px; }

.first-page__pagination {
  margin-top: auto; }

.first-page__img-wrapper {
  position: relative; }
  .first-page__img-wrapper::before {
    content: "";
    position: absolute;
    top: 14.5%;
    right: -54.5%;
    display: block;
    width: 354px;
    height: 354px;
    background-image: url("../img/img-girl-fullface@1x.jpg");
    background-size: cover;
    -webkit-box-shadow: -50px 80px 200px rgba(0, 0, 0, 0.15);
            box-shadow: -50px 80px 200px rgba(0, 0, 0, 0.15); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .first-page__img-wrapper::before {
        background-image: url("../img/img-girl-fullface@2x.jpg"); } }

.first-page__img {
  display: block;
  width: 475px;
  height: 757px; }

@media (max-width: 1360px) {
  .first-page {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .first-page__wrapper {
    margin-bottom: 0; }
  .first-page__title {
    font-size: 36px;
    line-height: 48px; }
  .first-page__text {
    width: auto;
    max-width: 444px;
    font-size: 16px; }
  .first-page__btns-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .first-page__link {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-bottom: 10px; }
  .first-page__img-wrapper::before {
    width: 250px;
    height: 320px; }
  .first-page__img {
    width: 350px;
    height: auto; } }

@media (max-width: 768px) and (min-width: 320px) {
  .first-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px; }
  .first-page__wrapper {
    margin-top: 0; }
  .first-page__btns-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .first-page__subtitle {
    text-align: center; }
  .first-page__title {
    text-align: center; }
  .first-page__text {
    width: auto;
    margin: 0 auto 30px;
    max-width: none;
    text-align: center; }
  .first-page__link {
    margin: 0 auto 30px; }
  .first-page__social-list {
    margin: 0 auto 30px; }
  .first-page__pagination {
    margin: 0 auto;
    -ms-flex-item-align: center;
        align-self: center; }
  .first-page__img-wrapper {
    display: none; }
  .first-page__img {
    display: none; } }
