.first-page__subtitle {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.first-page__title {
  list-style: -1px;
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
}
