@font-face {
  font-weight: 400;
  font-family: "FiraSans";
  font-style: normal;
  font-display: swap;

  src: url("../fonts/FiraSans-Regular.woff2") format("woff2"), url("../fonts/FiraSans-Regular.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "FiraSans";
  font-style: normal;
  font-display: swap;

  src: url("../fonts/FiraSans-Medium.woff2") format("woff2"), url("../fonts/FiraSans-Medium.woff") format("woff");
}

@font-face {
  font-weight: 600;
  font-family: "FiraSans";
  font-style: normal;
  font-display: swap;

  src: url("../fonts/FiraSans-SemiBold.woff2") format("woff2"), url("../fonts/FiraSans-SemiBold.woff") format("woff");
}
