$white: #ffffff;
$black: #000000;
$bg-lines: #151515;
$placeholder: #707070;
$main-bg: #f4f4f4;
$main-text: #222222;
$blue: #4737ff;
$orange: #f96241;


$font: "FiraSans", "Arial", sans-serif;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
